table {
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
  }

  thead th {
    background: var(--header);
  }

  th, td {
    border: 1px solid var(--border);
    padding: 8px;
    text-align: center;
  }

  tbody tr:nth-child(odd) {
    background: var(--table);
  }

  tbody tr:nth-child(even) {
    background: var(--table-alt);
  }
